
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&family=Titillium+Web:wght@300&display=swap');
html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 18px;
    margin: 0;
    padding:10px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.clr{
    width: 235px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}